.forms-title > h1{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    padding: 2rem
}

.form-reg-link {
    display: flex;
    justify-content: center;
}

.forms-link-list a {
   text-decoration: none;
   color: #0B2FDF;
}