.forms-screenWrapper {

    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: -webkit-gradient(
        linear,
        0% 0%,
        0% 50%,
        from(rgba(254, 255, 255, 0.817))
      ),
      url("../../images/DA-Logo-5-3-transparent-crop.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 520px 520px;
}
.forms-title {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    padding: 2rem;
    /* position: fixed; */
}

.form-reg-link {
    display: flex;
    justify-content: center;
}

.forms-link-list a {
   text-decoration: none;
   color: #417FFC;
}