.contract-body {
  background-size: cover;
  background-image: -webkit-gradient(linear,
      0% 0%,
      0% 50%,
      from(rgba(254, 255, 255, 0.845))),
    url("../../images/DA-Logo-5-3-transparent-crop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 870px 870px;
}

.contract-header {
  text-align: center;
}

.contract-center {
  margin-top: -1.5rem;
  margin-bottom: 1.5rem;
  font-size: 4rem;
  font-weight: bolder;
}

.contract-childInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  align-items: center;
  font-size: 1.7rem;
  width: 81rem;
  height: 6rem;
}

.contract-child {
  margin-left: 5rem;
}

.contract-childName {
  display: flex;
  flex-direction: row;
  /* color: red; */
  margin-left: rem;
  align-items: center;
  width: 60rem;
  height: 5rem;
  /* border: solid 3px orange; */
  align-content: center;
}

#contract-childInput {
  /* margin: 20rem; */
  width: 42rem;
  height: 40px;
  border-color: lightgray;
  border-radius: 10px;
}

.contract-agreement {
  font-size: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
  text-align: justify;
}

span {
  text-decoration: underline;
  font-weight: bold;
}

.contract-header {
  margin: 2rem;
  font-size: 3rem;
}

#contract-grade {
  width: 160px;
  height: 40px;
  font-size: 1.25rem;
  text-align-last: center;
  border-color: black;
  border-radius: 10px;
  margin-right: 2rem;
}

.contract-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-size: 20px;
  justify-content: center;
}

.contract-days>h3 {
  border: 1px solid black;
}

.grid-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  /* margin-bottom: 1rem; */
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 30px;
  text-align: left;
  height: 14rem;
}

.contract-inOut {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.contract-closed {
  text-align: center;
  text-decoration: underline;
  font-size: 1.75rem;
}

.contract-submit {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}