.staff-outerWrapper {
  display: flex;
  justify-content: center;
}

.staff-title {
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  font-weight: normal;
  font-family: Times, serif;
  font-size: 3rem;
  padding: 0.5rem;
}

.staff-displayStaffWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  position: relative;
  width: 87vw;
}

.staff-screenWrapper {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: -webkit-gradient(
      linear,
      0% 0%,
      0% 50%,
      from(rgba(254, 255, 255, 0.817))
    ),
    url("../../images/DA-Logo-5-3-transparent-crop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 520px 520px;
}
.staff-container {
  margin: 20px 0px;
}
.staff-display {
  /* height: 10rem; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0.5rem 2.5rem;
}

.staff-buttons {
  display: flex;
  justify-content: center;
}

.staff-buttons > button {
  margin: 0 5px;
  color: white;
}

.staff-imageCrop {
  display: flex;
  justify-content: flex-start;
  width: 200px;
}

@media screen and (max-width: 632px) {
}
