.staff-outerWrapper {
    display: flex;
    justify-content: center
}

.staff-displayStaffWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    position: relative;
    width: 87vw;
}

.staff-screenWrapper {
    /* height: 100vh - 300px; */
    /* border: blue 5px solid; */
}
.staff-container {
    margin: 20px 0px;
}
.staff-display {
    /* height: 10rem; */
    display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	justify-content: space-between;
	align-items: center;
    align-content: center;
    padding: .5rem 2.5rem;
    
}

.staff-buttons {
    display: flex;
    justify-content: center;
}

.staff-buttons > button {
    margin: 0 5px ;
}

@media screen and (max-width: 632px) {

}