.careers-views {
    width: 100vw;
    height: 100vh;
}

.careers-Links {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  /* flex-direction: row; */
  /* border: 2px solid black; */
  margin-top: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.careers-Links a {
  padding: 0.8rem 0;
  text-decoration: none;
  color: white;
  background-color: #417ffc;
  border-radius: 25px;
  font-size: 1rem;
  justify-content: center;
  text-align: center;
  display: inline-block;
  width: 8rem;
}

.careers-Ayers {
    position: absolute;
    margin-top: 30rem;
    font-size: 10rem;
    margin-bottom: 10rem;

}