body {

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(244, 248, 248, 0.68))), url(./../images/kids-playing.jpg) ;
    background-size: 75%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover

}