.modal-blanket {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.modal-card {
  background-color: #fff;
  border-radius: 25px;
  margin: 0px auto;
  padding: 30px;
  position: relative;
  z-index: 10;
}

.modal-footer {
  display: flex;
  justify-content: space-around;
}

.modal-content {
  flex-direction: column;
  align-items: center;
  
}

/* .modal-content img {
  border: solid 10px purple;

  
} */