

.corporate-container {
  max-width: 100%;
  height: auto;
  /* border: solid 10px green; */
  margin-top: 1rem;
  background-size: cover;
  background-image: -webkit-gradient(
      linear,
      0% 0%,
      0% 50%,
      from(rgba(254, 255, 255, 0.850))
    ),
    url("../../images/DA-Logo-5-3-transparent-crop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 620px 620px;
}

.corporate-container > h1 {
  font-size: 3rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  
}

.corporate-executives {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  

}

.corporate-stef-judy > img {
  margin-top: 5rem;
  max-width: 100%;
  height: auto;
  box-shadow: 10px 10px 10px lightgrey;
}

.corporate-stef-judy > h2 {
  margin-top: .5rem;
  font-size: 1.5rem;
}
.corporate-stef-judy {
  width: 30rem;
  max-width: 100%;
  height: 20rem;
  font-family: Times, serif;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  padding: 1rem;
  line-height: 1.75rem;
  margin-bottom: 5rem;
  
  
}
.corporate-brian {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.corporate-brian-info {
  width: 30rem;
  max-width: 100%;
  height: 15rem;
  /* margin-top: 2.5rem; */
  font-family: Times, serif;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  font-size: 1.9rem;
  line-height: 1rem;
  /* border: solid #417ffc; */
  border-radius: 25px;
  padding: 1rem;
}

.corporate-brian > img {
  margin-top: 2rem;
  max-width: 100%;
  height: auto;
  box-shadow: 20px 20px 10px lightgrey;
}


