nav.navbar-container {
  width: 100%;
  height: 5rem;
  background-color: white;
  border-bottom: solid #417ffc;
  display: flex;
  position: fixed;
  z-index: 1;
}

ul.navbar-links {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-links {
  margin: 0 10px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.logo {
  padding: 0.4rem;
  border-radius: 50%;
  /* border: solid #417FFC 1px; */
  width: 70px;
  height: 70px;
}
.navbar-dropLinks {
  text-decoration: none;
  color: #417ffc;
  font-weight: bold;
}

.navbar-menuItems {
  padding: 15px;
  background: white;
}

.navbar-menuItems:hover {
  background: white;
}

/* EVENTS */
.events-dropdown {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  color: #417ffc;
  font-weight: bold;
}
.events-dropdown > li {
  display: flex;
  align-items: center;
}

.events-dropdown-content {
  top: 55px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  list-style: none;
}

/* FORMS */
.forms-dropdown {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  color: #417ffc;
  font-weight: bold;
}
.forms-dropdown > li {
  display: flex;
  align-items: center;
}

.forms-dropdown-content {
  top: 55px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 0;
  list-style: none;
}

.forms-dropdown:hover .forms-dropdown-content {
  display: block;
}

/* CENTERS */
.centers-dropdown {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  color: #417ffc;
  font-weight: bold;
}
.centers-dropdown > li {
  display: flex;
  align-items: center;
}

.centers-dropdown-content {
  top: 55px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  list-style: none;
}

.navbar-centers li:hover,
.centers-dropdown:hover .centers-dropdown-content {
  display: block;
  color: red;
}

/* .centers-dropdown:hover .centers-dropdown-content {
  display: block;
} */

/* .centers-dropdown:hover .centers-dropdown-content:active {
  display: none;
} */
@media screen and (max-width: 414px) {
  nav.navbar-container {
    height: 2.5rem;
  }
  .navbar-hidden {
    display: none;
  }

  .navbar-links {
    position: absolute;
    height: 2rem;
    margin: 0;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  /* CENTERS */
  .centers-dropdown {
    /* justify-content: center; */
    font-size: 1.25rem;
    height: 100%;
  }
  .centers-dropdown-content {
    font-size: 1rem;
    top: 32px;
  }
}
