.allStaff-title {
  width: 100vw;
  height: 2rem;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: normal;
  font-family: Times, serif;
  font-size: 2rem;
  padding: 1.5rem;
}

.allStaff-center-staffContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  /* height: 10rem; */
  padding: 1rem;
}
