.centers-title > h1 {
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  font-weight: normal;
  font-family: Times, serif;
  font-size: 3rem;
  padding: .5rem;
}
.centers-info-container {
  position: relative;
  width: 100vw;
  height: 23rem;
  top: .5rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  padding: 5rem;
}
.centers-reg-link {
  position: relative;
  width: 100vw;
  height: 5rem;
  top: 0.5rem;
  list-style: none;
  border-style: outset;
  padding: 10px;
  text-align: center;
}

.centers-links-container {
  position: relative;
  top: 1.5rem;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}