/* body {
  background: -webkit-gradient(
      linear,
      0% 0%,
      0% 100%,
      from(rgba(244, 248, 248, 0.68))
    ),
    url(../../images/kids-playing.jpg);
  background-size: 80%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
} */

.home-outer-container {
  width: 100vw;
  height: calc(100vh - 9rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container {
  height: calc(100vh - 96px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100vw;
  font-family: "Times New Roman", Times, serif;
}

.home-title {
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 3.5rem;
  padding: 1rem;
  text-align: center;
}
.home-logo {
  position: relative;
  width: 550px;
  height: 550px;
}



@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 100px, 0);
  }
}

.home-ball {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-weight: bolder;
}

.home-Ayers {
  left: 31rem;
  top: 2rem;
  background: #417ffc;
  text-align: center;
  line-height: 110px;
  font-size: 28px;
  animation: bounce 0.6s;
  animation-iteration-count: 4;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-direction: alternate;
  background: radial-gradient(
    farthest-corner at 60px 45px,
    #417ffc 50%,
    black 100%
  );
}

.home-Bancroft {
  /* line-height: 110px; */
  left: 12rem;
  top: 6.5rem;
  background: #eef827;
  font-size: 24px;
  animation: bounce 0.9s;
  animation-iteration-count: 4;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-direction: alternate;
  background: radial-gradient(
    farthest-corner at 60px 45px,
    #eef827 55%,
    black 100%
  );
}

.home-DeltaView {
  left: 23rem;
  top: 15rem;
  background: #417ffc;
  /* line-height: 30px; */
  align-items: center;
  font-size: 28px;
  animation: bounce 0.6s;
  animation-iteration-count: 6;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-direction: alternate;
  background: radial-gradient(
    farthest-corner at 60px 45px,
    #417ffc 50%,
    black 100%
  );
}

.home-ElMonte {
  left: 12rem;
  top: 24rem;
  background: #eef827;
  /* line-height: 30px; */
  font-size: 28px;
  animation: bounce 0.7s;
  animation-iteration-count: 8;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-direction: alternate;
  background: radial-gradient(
    farthest-corner at 60px 45px,
    #eef827 55%,
    black 100%
  );
}
.home-Highlands {
  left: 31rem;
  top: 30rem;
  background: #417ffc;
  font-size: 20px;
  z-index: 2;
  font-size: 22px;
  animation: bounce 0.7s;
  animation-iteration-count: 6;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-direction: alternate;
  background: radial-gradient(
    farthest-corner at 60px 45px,
    #417ffc 50%,
    black 100%
  );
}
.home-MonteGardens {
  right: 31rem;
  top: 2rem;
  background: #417ffc;
  /* line-height: 4px; */
  font-size: 22px;
  animation: bounce 0.6s;
  animation-iteration-count: 4;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-direction: alternate;
  background: radial-gradient(
    farthest-corner at 60px 45px,
    #417ffc 50%,
    black 100%
  );
}
.home-PleasantHill {
  right: 12rem;
  top: 6.5rem;
  background: #eef827;
  /* line-height: 4px; */
  font-size: 24px;
  animation: bounce 0.7s;
  animation-iteration-count: 4;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-direction: alternate;
  background: radial-gradient(
    farthest-corner at 60px 45px,
    #eef827 55%,
    black 100%
  );
}
.home-Sequoia {
  right: 23rem;
  top: 15rem;
  background: #417ffc;
  line-height: 4px;
  font-size: 28px;
  animation: bounce 0.9s;
  animation-iteration-count: 8;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-direction: alternate;
  background: radial-gradient(
    farthest-corner at 60px 45px,
    #417ffc 50%,
    black 100%
  );
}
.home-TiceCreek {
  right: 12rem;
  top: 24rem;
  background: #eef827;
  /* line-height: 4px; */
  /* font-weight: bolder;   */
  font-size: 26px;
  animation: bounce 0.6s;
  animation-iteration-count: 8;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-direction: alternate;
  background: radial-gradient(
    farthest-corner at 60px 45px,
    #eef827 55%,
    black 100%
  );
}
.home-Westwood {
  right: 31rem;
  top: 30rem;
  background: #417ffc;
  /* line-height: 4px; */
  font-size: 20px;
  z-index: 1;
  font-size: 23px;
  animation: bounce 0.7s;
  animation-iteration-count: 10;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-direction: alternate;
  background: radial-gradient(
    farthest-corner at 60px 45px,
    #417ffc 50%,
    black 100%
  );
}


/* ###### RESPONSIVE 13" LAPTOP ####### */

@media screen and (max-width: 1500px) {

  @keyframes bounce {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(0, 70px, 0);
    }
  }

  .home-title {
    font-family: Times;
    font-weight: normal;
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
  }
  .home-logo {
    width: 425px;
    height: 425px;
  }

  .home-ball {
    width: 110px;
    height: 110px;
    
  }
  .home-Ayers {
    left: 26rem;
    top: 0.4rem;
  }
  .home-Bancroft {
    left: 15.5rem;
    top: 4.0rem;
  }
  
  .home-DeltaView {
    left: 22rem;
    top: 12rem;
  }
  
  .home-ElMonte {
    left: 17rem;
    top: 21rem;
  }

  .home-Highlands {
    left: 28rem;
    top: 24rem;
  }

  .home-MonteGardens {
    right: 26rem;
    top: 0.4rem;
  }

  .home-PleasantHill {
    right: 15.5rem;
    top: 4rem;
  }

  .home-Sequoia {
    right: 22rem;
    top: 12rem;
  }

  .home-TiceCreek {
    right: 17rem;
    top: 21rem;
  }

  .home-Westwood {
    right: 28rem;
    top: 24rem;
  }
  
}


/* RESPONSIVE IPAD */

@media screen and (max-width: 768px) {

  @keyframes bounce {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(0, 210px, 0);
    }
  }

  .home-title {
    font-family: Times;
    font-weight: normal;
    font-size: 2.5rem;
    padding: 1rem;
    text-align: center;
  }
  .home-logo {
    width: 425px;
    height: 425px;
  }

  .home-ball {
    width: 100px;
    height: 100px;
    
  }
  .home-Ayers {
    left: 14rem;;
    top: 3.4rem;
  }
  .home-Bancroft {
    left: 6.5rem;;
    top: 8rem;
  }
  
  .home-DeltaView {
    left: 3rem;;
    top: 16rem;
  }
  
  .home-ElMonte {
    left: 3.5rem;;
    top: 25rem;
  }

  .home-Highlands {
    left: 10rem;;
    top: 31rem;
  }

  .home-MonteGardens {
    right: 14rem;;
    top: 3.4rem;
  }

  .home-PleasantHill {
    right: 6.5rem;;
    top: 8rem;
  }

  .home-Sequoia {
    right: 3rem;;
    top: 16rem;
  }

  .home-TiceCreek {
    right: 3.5rem;;
    top: 25rem;
  }

  .home-Westwood {
    right: 10rem;;
    top: 31rem;
  }
  
}

@media screen and (max-width: 414px) {
  .home-outer-container {
    width: 100vw;
    height: calc(100vh - 9rem);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 450px;
  }
  .home-title {
    font-family: Times;
    font-weight: normal;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
  }
  .home-logo {
    width: 325px;
    height: 325px;
  }

  .home-Ayers {
    visibility: hidden;
    position: absolute;
    left: 12rem;
    top: 0rem;
    height: 110px;
    background: #eef827;
    text-align: center;
    line-height: 110px;
    border-radius: 50%;
    text-decoration: none;
  }
  .home-Bancroft {
    visibility: hidden;
    position: absolute;
    left: -8rem;
    top: 1rem;
    height: 110px;
    background: EEF827;
    text-align: center;
    line-height: 110px;
    border-radius: 50%;
  }
  .home-DeltaView {
    visibility: hidden;
    position: absolute;
    left: 3.5rem;
    top: 8rem;
    display: flex;
    justify-content: center;
    height: 110px;
    background: #23aae2;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    text-decoration: none;
    align-items: center;
  }
  .home-ElMonte {
    visibility: hidden;
    position: absolute;
    left: -7rem;
    top: 13rem;
    width: 110px;
    height: 110px;
    background: #eef827;
    text-align: center;
    line-height: 110px;
    border-radius: 50%;
    font-size: 20px;
  }
  .home-Highlands {
    visibility: hidden;
    position: absolute;
    left: 8rem;
    top: 20rem;
    width: 110px;
    height: 110px;
    background: red;
    text-align: center;
    line-height: 110px;
    border-radius: 50%;
    font-size: 20px;
  }
  .home-MonteGardens {
    visibility: hidden;
    position: absolute;
    right: 12rem;
    top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background: #23aae2;
    text-align: center;
    line-height: 4-px;
    border-radius: 50%;
    font-size: 20px;
  }
  .home-PleasantHill {
    visibility: hidden;
    position: absolute;
    right: -8rem;
    top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background: #eef827;
    text-align: center;
    line-height: 4-px;
    border-radius: 50%;
  }
  .home-Sequoia {
    visibility: hidden;
    position: absolute;
    right: 3.5rem;
    top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background: red;
    text-align: center;
    line-height: 4-px;
    border-radius: 50%;
  }
  .home-TiceCreek {
    visibility: hidden;
    position: absolute;
    right: -7rem;
    top: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background: #23aae2;
    text-align: center;
    line-height: 4-px;
    border-radius: 50%;
  }
  .home-Westwood {
    visibility: hidden;
    position: absolute;
    right: 8rem;
    top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background: #eef827;
    text-align: center;
    line-height: 4-px;
    border-radius: 50%;
    font-size: 20px;
  }

  .home-absent-dropIn {
    position: absolute;
    left: 0px;
    top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    background: #eef827;
    text-align: center;
    line-height: 4-px;
    border-radius: 50%;
    font-size: 20px;
  }
}
